@model hospital.models.Appointment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Patient_name" class="control-label"></label>
                <input asp-for="Patient_name" class="form-control" />
                <span asp-validation-for="Patient_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department_Id" class="control-label"></label>
                <select asp-for="Department_Id" class ="form-control" asp-items="ViewBag.Department_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Doctor_ID" class="control-label"></label>
                <select asp-for="Doctor_ID" class ="form-control" asp-items="ViewBag.Doctor_ID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Patient_Id" class="control-label"></label>
                <select asp-for="Patient_Id" class ="form-control" asp-items="ViewBag.Patient_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Appointment_Date" class="control-label"></label>
                <input asp-for="Appointment_Date" class="form-control" />
                <span asp-validation-for="Appointment_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phonenumber" class="control-label"></label>
                <input asp-for="Phonenumber" class="form-control" />
                <span asp-validation-for="Phonenumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Symptoms" class="control-label"></label>
                <input asp-for="Symptoms" class="form-control" />
                <span asp-validation-for="Symptoms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
